EL-SigthServer/EL-SigthClient/Connected Services/ServerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServer_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_StartStream_InputMessage">
    <wsdl:part name="parameters" element="tns:StartStream" />
  </wsdl:message>
  <wsdl:message name="IServer_StopStream_InputMessage">
    <wsdl:part name="parameters" element="tns:StopStream" />
  </wsdl:message>
  <wsdl:message name="IServer_GetRandomNumber_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNumber" />
  </wsdl:message>
  <wsdl:message name="IServer_GetRandomStream_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetRandomStream" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServer">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/Login" message="tns:IServer_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/LoginResponse" message="tns:IServer_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/StartStream" message="tns:IServer_StartStream_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StopStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/StopStream" message="tns:IServer_StopStream_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRandomNumber">
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetRandomNumber" message="tns:IServer_GetRandomNumber_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRandomStream">
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetRandomStream" message="tns:IServer_GetRandomStream_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServer" type="tns:IServer">
    <wsp:PolicyReference URI="#NetTcpBinding_IServer_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IServer/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartStream">
      <soap12:operation soapAction="http://tempuri.org/IServer/StartStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopStream">
      <soap12:operation soapAction="http://tempuri.org/IServer/StopStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetRandomNumber">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetRandomNumber" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomStream">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetRandomStream" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerImpl">
    <wsdl:port name="NetTcpBinding_IServer" binding="tns:NetTcpBinding_IServer">
      <soap12:address location="net.tcp://localhost:8500/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8500/tcp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-P15ASLVC\Zur</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>